[submodule "Drivers/BSP/Components/Common"]
	path = Drivers/BSP/Components/Common
	url = https://github.com/STMicroelectronics/stm32-bsp-common.git
	branch = main
[submodule "Drivers/BSP/STM32U3xx_Nucleo"]
	path = Drivers/BSP/STM32U3xx_Nucleo
	url = https://github.com/STMicroelectronics/stm32u3xx-nucleo-bsp
	branch = main
[submodule "Drivers/STM32U3xx_HAL_Driver"]
	path = Drivers/STM32U3xx_HAL_Driver
	url = https://github.com/STMicroelectronics/stm32u3xx-hal-driver.git
	branch = main
[submodule "Drivers/CMSIS/Device/ST/STM32U3xx"]
	path = Drivers/CMSIS/Device/ST/STM32U3xx
	url = https://github.com/STMicroelectronics/cmsis-device-u3.git
	branch = main
